extends layout

block content
  include index.pug
  .container
    .row.iamemtpy
    .row
      .one-half.column
        a(href='/docin_list') หนังสือรับ
      .one-half.column
        a(href='/docout_list') หนังสือรับ (ลับ)
    .row
      .one-half.column
        a(href='/') หนังสือส่ง
      .one-half.column
        a(href='/') หนังสือส่งเวียน