extends layout

block content
  .container
    .row
      .header
        h1 ระบบสารบรรณอิเล็กทรอนิกส์ 
        h2 ที่ว่าการอำเภอนาน้อย จังหวัดน่าน
    if user
      .row
        .ten-twelths.column
          .row
            .one-fourth.column
              a(class='button' href='/') หน้าหลัก
            .one-fourth.column
              a(href='/local_list') หน่วยงานนอก
            .one-fourth.column
              a(href='/itn_list') หน่วยงานใน
            .one-fourth.column
              a(href='/') เกี่ยวกับ
        .two-twelths.column
          .row
            .one-half.column
              p Hi #{user.name}
            .one-half.column
              a(href="/logout" style='font-size: large') Logout
    else
      .row
        a(class="btn btn-link",, href="/login") Please login !