doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- Addition
    //- link(rel='icon', type='image/png', href='/table_responsive/images/icons/favicon.ico')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/vendor/bootstrap/css/bootstrap.min.css')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/vendor/animate/animate.css')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/vendor/select2/select2.min.css')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/vendor/perfect-scrollbar/perfect-scrollbar.css')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/css/util.css')
    //- link(rel='stylesheet', type='text/css', href='/table_responsive/css/main.css')

  body
    block content