extends layout

block content
    include index.pug
    .container
        .row
            h2= sub_title
            a(href='/local_add') เพิ่ม
        .row
            if (local_list.length)
                table(style='width:50%', border='1')
                    thead
                        tr
                            td ลำดับ
                            td ชื่อหน่วยงานภายนอก
                            //- td แก้ไข
                            td Action
                    each local, index in local_list
                        tbody
                            tr
                                td #{index + 1}
                                td= local.name
                                //- td= แก้ไข
                                td
                                    a(href='/local_del/' + local._id) ลบ
            else
                p 'ไม่มีรายชื่อของหน่วยงานภายนอก.'